.ring-container {
    position: relative;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: #73ff00;
    border-radius: 50%;
    position: absolute;
    top: 23px;
    left: 23px;
}

.ringring {
    border: 3px solid #73ff00;
    -webkit-border-radius: 30px;
    border-top-color: transparent;
    border-right-color: transparent;
    height: 25px;
    width: 25px;
    position: absolute;
    left: 15px;
    top: 15px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.7;
}

.active {
    position: absolute;
    left: -30px;
    top: 13px;
    font-size: 9px;
    color: #9b9b9b;
}
